@model IEnumerable<TiminsHospitalProjectV3.Models.Bill>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

@if (!User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateIssued)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Breakdown)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateIssued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breakdown)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.BillID })

                @if (!User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.BillID })
                    @Html.ActionLink("Delete", "Delete", new { id = item.BillID })
                }
            </td>
        </tr>
    }

</table>
