@model TiminsHospitalProjectV3.Models.ViewModels.ShowDepartment

@{
    ViewBag.Title = "Details";
}
<h2>Department Details</h2>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.DepartmentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>

    </dl>
</div>


@*@foreach (var JobPosting in Model.JobPostings)
{
    <div>
        <p>Testimonial Content:@testimonial.testimonial_Content</p>
        @Html.ActionLink("Edit", "UpdateTestimonial", "Testimonial", new { TestimonialId = testimonial.testimonial_Id, DepartmentId = Model.DepartmentDto.DepartmentId }, null) |
        @Html.ActionLink("Delete", "DeleteConfirm", "Testimonial", new { DepartmentId = Model.DepartmentDto.DepartmentId, TestimonialId = testimonial.testimonial_Id }, null)
    </div>
}
*@


<table class="table">
    <tr>

        <th>
           Department Name
        </th>
        <th>
            JobCategory 
        </th>
        <th>
            JobTitle 
        </th>
        <th>
            JobDescription 
        </th>
        <th>
            JobLocation 
        </th>
        <th>
            PositionType
        </th>
        <th>
            Email 
        </th>
        <th>
            SalaryRange
        </th>
        <th>
            DatePosted
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.JobPostings)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalaryRange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePosted)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.JobId }) |
                @Html.ActionLink("Details", "Details", new { id = item.JobId }) |
                @Html.ActionLink("Delete", "DeleteConfirm", new { id = item.JobId })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Department.DepartmentId }) |
    @Html.ActionLink("Back to List", "List")
</p>
