@model TiminsHospitalProjectV3.Models.ApplicationUser

@{
    ViewBag.Title = "Profile";
}

<h2>User Profile</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>        

        <dt>
            @Html.DisplayNameFor(model => model.UserName):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>
</div>
<hr />
<div>
    <h3>available services </h3>
    <ul>
        @if (User.IsInRole("Patient") || User.IsInRole("Physician") || User.IsInRole("Admin"))
        {
            <li>@Html.ActionLink("Appointments", "List", "Appointments", null, null)</li>
        }
        @if (User.IsInRole("Admin"))
        {
            <li>@Html.ActionLink("Employees", "List", "Employee", null, null)</li>
            <li>@Html.ActionLink("Events", "List", "Event", null, null)</li>
            <li>@Html.ActionLink("Frequently asked questions", "List", "Faq", null, null)</li>
            <li>@Html.ActionLink("News", "List", "NewsItem", null, null)</li>
            <li>@Html.ActionLink("Tickets", "List", "Ticket", null, null)</li>
        }
    </ul>
</div>
<p>
    
    @Html.ActionLink("Back", "Index")
</p>
