@model TiminsHospitalProjectV3.Models.ViewModels.UpdateNewsItem

@{
    ViewBag.Title = "View";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>NewsItem</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.newsItem.NewsItemID)

        <div class="form-group">
            @Html.LabelFor(model => model.newsItem.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.newsItem.Title, new { htmlAttributes = new { @class = "form-control", Name="Title"} })
                @Html.ValidationMessageFor(model => model.newsItem.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.newsItem.NewsBody, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.newsItem.NewsBody, new { htmlAttributes = new { @class = "form-control", Name="NewsBody" } })
                @Html.ValidationMessageFor(model => model.newsItem.NewsBody, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.newsItem.NewItemDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.newsItem.NewItemDate, new { htmlAttributes = new { @class = "form-control", Name="NewItemDate" } })
                @Html.ValidationMessageFor(model => model.newsItem.NewItemDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.newsItem.NewsItemHasPic, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.newsItem.NewsItemHasPic, new { htmlAttributes = new { @class = "form-control", Name = "NewsItemHasPic" } } )
                    @Html.ValidationMessageFor(model => model.newsItem.NewsItemHasPic, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.newsItem.NewsItemPicExtension, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.newsItem.NewsItemPicExtension, new { htmlAttributes = new { @class = "form-control", Name = "NewsItemPicExtension" } })
                @Html.ValidationMessageFor(model => model.newsItem.NewsItemPicExtension, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.newsItem.UserID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.newsItem.UserID, new { htmlAttributes = new { @class = "form-control", Name="UserID" } })
                @Html.ValidationMessageFor(model => model.newsItem.UserID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
