@model TiminsHospitalProjectV3.Models.ViewModels.ListNewsItems



@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Title
        </th>

        <th>
            Date
        </th>
        @if (Model.isadmin)
        {
            <th>
                News Item Has Picure?
            </th>
            <th>
                Pic Extention
            </th>
            <th>
                Last Created/updated by:
            </th>
        }
        <th>
            Details
        </th>
    </tr>

    @foreach (var item in Model.newsItems)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.NewItemDate)
    </td>
    @if (Model.isadmin)
    {
        <td>
            @Html.DisplayFor(modelItem => item.NewsItemHasPic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewsItemPicExtension)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
    }
<td>
    @if (Model.isadmin)
    {
        @Html.ActionLink("Edit", "Edit", new { id = item.NewsItemID }) 
        @Html.ActionLink("Delete", "DeleteConfirm", new { id = item.NewsItemID })
    }
    @Html.ActionLink("Details", "Details", new { id = item.NewsItemID }) 
</td>
    </tr>
    }

</table>
