@model IEnumerable<TiminsHospitalProjectV3.Models.NewsItemDto>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewsBody)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewItemDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewsItemHasPic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewsItemPicExtension)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewsBody)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewItemDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewsItemHasPic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewsItemPicExtension)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NewsItemID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NewsItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NewsItemID })
        </td>
    </tr>
}

</table>
