@model TiminsHospitalProjectV3.Models.ViewModels.ListCategories

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Catagory Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.categories) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CategoryID }) |
            @Html.ActionLink("Delete", "DeleteConfirm", new { id=item.CategoryID })
        </td>
    </tr>
}

</table>
