@model TiminsHospitalProjectV3.Models.Appointment

@{
    ViewBag.Title = "Details";
}

<h2> Appointment Details</h2>

<div class="container">

    <table class="table">
        <thead class="thead-dark">
            
        </thead>
        <tbody>
            <tr>
                <th scope="row">@Html.DisplayName("Patient")</th>
                <td> @Html.DisplayFor(modelItem => Model.PatientUser.UserName) </td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayName("PHysician")</th>
                <td> @Html.DisplayFor(modelItem => Model.PhysicianUser.UserName) </td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayName("Sent On")</th>
                <td> @Html.DisplayFor(modelItem => Model.SentOn) </td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayName("Decision Made On")</th>
                <td> @Html.DisplayFor(modelItem => Model.DecisionMadeOn) </td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayName("Date and Time Requested")</th>
                <td> @Html.DisplayFor(modelItem => Model.RequestDatetime) </td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.Status)</th>
                <td> @Html.DisplayFor(modelItem => Model.Status) </td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.Subject)</th>
                <td> @Html.DisplayFor(modelItem => Model.Subject) </td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.Message)</th>
                <td> @Html.DisplayFor(modelItem => Model.Message) </td>
            </tr>

        </tbody>
    </table>            
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "List")
</p>
