@model TiminsHospitalProjectV3.Models.ViewModels.UpdateViewAppointment
@Styles.Render("~/Content/Appointments/Edit.css")

@{
    ViewBag.Title = "Edit";
    var physicianName = "Dr " + Model.PhysicianUser.FirstName + " " + Model.PhysicianUser.LastName;
    var patientName = Model.PatientUser.FirstName + " " + Model.PatientUser.LastName;
}

<h2>Edit Appointment</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID, new { Name = "id" })
        @Html.HiddenFor(model => model.SentOn, new { Name = "SentOn" })
        @Html.HiddenFor(model => model.Status, new { Name = "Status" })
        @Html.HiddenFor(model => model.PatientID, new { Name = "PatientID" })
        @Html.HiddenFor(model => model.PhysicianID, new { Name = "PhysicianID" })



        @if (User.IsInRole("Physician"))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.PatientID, "Patient:", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <input type="text" class="form-control" value="@patientName" disabled />

                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                @Html.LabelFor(model => model.PhysicianID, "Physician:", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <input type="text" class="form-control" value="@physicianName" disabled />


                </div>
            </div>

        }


        <div class="form-group">
            @Html.Label("RequestDatetime", "Requested Date and Time:", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <input type="text" name="RequestDatetime" id="RequestDatetime" value="@Model.RequestDatetime" class="form-control" required />
                @Html.ValidationMessage("RequestDatetime", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Subject, "Subject:", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <input type="text" name="Subject" id="Subject" value="@Model.Subject" class="form-control" required />
                @Html.ValidationMessage("Subject", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Message, "Message:", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <textarea class="form-control" id="Message" name="Message" cols="12" rows="6" placeholder="enter your message here." required>@Model.Message</textarea>
                @Html.ValidationMessage("Message", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="Update" class="btn btn-default" id="btn-update" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Appointments/edit.js")
}
