@{
    ViewBag.Title = "Home Page";
}

<div class="emergency-button">
    <button><h4>Emergency</h4><span>+</span></button>
</div>
<div class="index-image">
    <img src="~/Content/PageLayout/Images/main-image.png" height="100"/>
    <p>
        Welcome to
        <span id="title-blue">Timmins &amp; District
        Hospital</span>
    </p>
</div>
<div class="tab-icon-links">
    <a href="@Url.Action("Index", "Home")" class="tab-icon">
        <i class="fa fa-info-circle"></i><br /><p>Visitor Information</p>
    </a>
    @if (User.IsInRole("Admin"))
     {
        <a href="@Url.Action("List", "Donation")" class="tab-icon">
            <i class="fa fa-hand-holding-usd"></i><br /><p>Make A Donation</p>
        </a>
     } 
    else 
    {
        <a href="@Url.Action("Create", "Donation")" class="tab-icon">
            <i class="fa fa-hand-holding-usd"></i><br /><p>Make A Donation</p>
        </a>
    }
    <a href="@Url.Action("Index", "Home")" class="tab-icon">
        <i class="fa fa-stethoscope"></i><br/><p>Our Doctors</p>
    </a>
    <a href="@Url.Action("Index", "Home")" class="tab-icon">
        <i class="fa fa-phone-square"></i><br /><p>Contact A Patient</p>
    </a>
    <a href="@Url.Action("Index", "Home")" class="tab-icon">
        <i class="fa fa-calendar-alt"></i><br /><p>Hospital Hours</p>
    </a>
    <a href="@Url.Action("Index", "Home")" class="tab-icon">
        <i class="fa fa-file-invoice-dollar"></i><br /><p>Pay My Bill</p>
    </a>
    <a href="@Url.Action("List", "Faq")" class="tab-icon">
        <i class="fa fa-question"></i><br /><p>FAQs</p>
    </a>
</div>

<div class="nu-container">
    <h2>News &amp; Updates</h2>
    <div class="nu-info-boxes">
        <div class="nu-boxes">
            <div class="nu-items">
                <img src="~/Content/PageLayout/Images/health-care_VKCF2FYI3D.jpg" height="100" />
                <div class="nu-prefix">
                    <p>April 6, 2021</p>
                    <a href=""><p>TADH's scientist Michael Taylor recieves prestigious European cancer research prize</p></a>
                    <p>
                        Dr. Michael Taylor along with Dr. Stefan Pfister of Hopp
                        Children’s Cancer Center Heidelberg, is a co-recipient of the
                        2021 Leopold Griffuel Award from Foundation ARC, recognizing their
                        contributions to childhood cancer research.
                    </p>
                </div>
            </div>
        </div>
        <div class="nu-boxes">
            <div class="nu-items">
                <img src="~/Content/PageLayout/Images/photo-1588186593114-e7b26b2890b5.jpg" height="100" />
                <div class="nu-prefix">
                    <p>March 29, 2021</p>
                    <a href=""><p>New research finds majority of children with autism may be doing well</p></a>
                    <p>
                        A natioanl study led SickKids and CAMH takes a strenght-based 
                        approach to autism assessment, suggesting positive outcomes 
                        for children with autism spectrum disorder (ASD) are more common 
                        than previously thought.
                    </p>
                </div>
            </div>
        </div>
        <div class="nu-boxes">
            <div class="nu-items">
                <img src="~/Content/PageLayout/Images/photo-1511174511562-5f7f18b874f8.jpg" height="100" />
                <div class="nu-prefix">
                    <p>March 29, 2021</p>
                    <a href=""><p>Tadh's researchers identify rare genet ic variants linked to immune system regulation</p></a>
                    <p>
                        New reasearch co-led by SickKids identifies genetic variant asociated 
                        with rare cases of hard-to-treat immune dysregulation and inflamation.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>