@model TiminsHospitalProjectV3.Models.ViewModels.ShowFaq

@{
    ViewBag.Title = "Details";
}

<h1>FAQs</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<hr />
<div>
    <h2>@Html.DisplayFor(model => model.Faq.FaqQuestion)</h2>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Faq.FaqID }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Faq.FaqID }) |
    </p>
    <p>@Html.DisplayFor(model => model.Faq.FaqAnswer)</p>
</div>
<p>
    @Html.ActionLink("Back to List", "List")
</p>
