@model TiminsHospitalProjectV3.Models.Faq

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Faq</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FaqQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaqQuestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaqAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaqAnswer)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FaqID }) |
    @Html.ActionLink("Back to List", "List")
</p>
