@model TiminsHospitalProjectV3.Models.ViewModels.UpdateFaq

@{
    ViewBag.Title = "Edit";
    //Layout = "~/Views/Shared/_AdminView.cshtml";
}

<h2>Update FAQ</h2>


@using (Html.BeginForm("Edit", "Faq", new { id = Model.Faq.FaqID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Faq.FaqID, new { Name = "FaqID" })

    <div class="form-group">
        @Html.LabelFor(model => model.Faq.FaqQuestion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Faq.FaqQuestion, new { htmlAttributes = new { @class = "faqInput form-control", Name = "FaqQuestion" } })
            @Html.ValidationMessageFor(model => model.Faq.FaqQuestion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Faq.FaqAnswer, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Faq.FaqAnswer, new { @class = "form-control admin", Name = "FaqAnswer" })
            @Html.ValidationMessageFor(model => model.Faq.FaqAnswer, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Faq.CategoryID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select name="CategoryID">
                @foreach (var Category in Model.Allcategories)
                {
                    //Auto-selects the Category the Project is currently assigned to
                    string selected = "";
                    if (Model.Faq.CategoryID == Category.CategoryID)
                    {
                        selected = "";
                    }
                    <option value="@Category.CategoryID" @selected>@Category.CategoryName</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "List", "Faq")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
