@model TiminsHospitalProjectV3.Models.ViewModels.ShowDonation

@{
    ViewBag.Title = "Details";
}

<h2>Donations</h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Event Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.events.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donation.FistName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donation.FistName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donation.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donation.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donation.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donation.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donation.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donation.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donation.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donation.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donation.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donation.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donation.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donation.Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donation.Province)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donation.Province)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donation.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donation.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donation.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donation.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donation.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donation.Date)
        </dd>

        @if(Model != null && !String.IsNullOrEmpty(Model.Donation.CompanyName))
         {
            <dt>
                @Html.DisplayNameFor(model => model.Donation.CompanyName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Donation.CompanyName)
            </dd>
         } 
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Donation.DonationID }, new { @class = "text-warning"}) |
    @Html.ActionLink("Back to List", "List", "Donation", new { @class = "text-primary"})
</p>
