@model TiminsHospitalProjectV3.Models.ViewModels.ListDonations
@Styles.Render("~/Content/Faq_Category/Donations.css")
@{
    ViewBag.Title = "List";
}

<h2>List of Donations</h2>

<table class="table table-bordered">
   <thead class="th-color">
       <tr>
           <th>Full Name</th>
           <th>Email</th>
           <th>Phone #</th>
           <th>Full Address</th>
           <th>Company</th>
           <th>Amount</th>
           <th>Event</th>
           <th>Time Stamp</th>
           <th>Options</th>
       </tr>
   </thead>
   <tbody>
       @foreach(var donation in Model.donations) 
        {
           <tr>
               <td>@Html.DisplayFor(model => donation.FistName) @Html.DisplayFor(model => donation.LastName)</td>
               <td><a href="mailto:@Html.DisplayFor(model => donation.Email)">@Html.DisplayFor(model => donation.Email)</a></td>
               <td>@Html.DisplayFor(model => donation.PhoneNumber)</td>
               <td>
                   @Html.DisplayFor(model => donation.Address)
                   @Html.DisplayFor(model => donation.City)
                   @Html.DisplayFor(model => donation.Province)
                   @Html.DisplayFor(model => donation.Zip)
                   @Html.DisplayFor(model => donation.Country)
               </td>
               <td>@Html.DisplayFor(model => donation.CompanyName)</td>
               <td>$@Html.DisplayFor(model => donation.Amount)</td>
               @foreach(var item in Model.events)
               {
                   if(item.EventId == donation.EventId)
                   {
                       <td>@Html.DisplayFor(model => item.Title)</td>
                   }
                }
           <td>@Html.DisplayFor(model => donation.Date)</td>
               <td>
                    <p>@Html.ActionLink("Edit", "Edit", new { id = donation.DonationID }, new { @class = "text-warning" }) |
                    @Html.ActionLink("Delete", "DeleteConfirm", new { id = donation.DonationID }, new { @class = "text-danger" })</p>
                    <p>@Html.ActionLink("Donation Details", "Details", new { id = donation.DonationID }, new { @class = "text-primary" })</p>
               </td>
           </tr>
        }
   </tbody>
</table>
