@model TiminsHospitalProjectV3.Models.ViewModels.ListDonations

@{
    ViewBag.Title = "List";
}

<h2>List of Donations</h2>

<table class="table table-bordered">
   <thead>
       <tr>
           <th>Full Name</th>
           <th>Email</th>
           <th>Phone Number</th>
           <th>Address</th>
           <th>City</th>
           <th>Province</th>
           <th>ZIP</th>
           <th>Country</th>
           <th>Company Name</th>
           <th>Amount</th>
           <th>Event Name</th>
           <th></th>
       </tr>
   </thead>
   <tbody>
       @foreach(var donation in Model.donations) 
        {
           <tr>
               <td>@Html.DisplayFor(model => donation.FistName) @Html.DisplayFor(model => donation.LastName)</td>
               <td>@Html.DisplayFor(model => donation.Email)</td>
               <td>@Html.DisplayFor(model => donation.PhoneNumber)</td>
               <td>@Html.DisplayFor(model => donation.Address)</td>
               <td>@Html.DisplayFor(model => donation.City)</td>
               <td>@Html.DisplayFor(model => donation.Province)</td>
               <td>@Html.DisplayFor(model => donation.Zip)</td>
               <td>@Html.DisplayFor(model => donation.Country)</td>
               <td>@Html.DisplayFor(model => donation.CompanyName)</td>
               <td>@Html.DisplayFor(model => donation.Amount)</td>
               @foreach(var item in Model.events)
               {
                   if(item.EventId == donation.EventId)
                   {
                       <td>@Html.DisplayFor(model => item.Title)</td>
                   }
                }
               <td>
                    <p>
                        @Html.ActionLink("Edit Donation", "Edit", new { id = donation.DonationID }, new { @class = "text-warning" }) |
                        @Html.ActionLink("Delete Donation", "DeleteConfirm", new { id = donation.DonationID }, new { @class = "text-danger" }) |
                        @Html.ActionLink("Donation Details", "Details", new { id = donation.DonationID }, new { @class = "text-primary" })
                    </p>
               </td>
           </tr>
        }
   </tbody>
</table>
