@model TiminsHospitalProjectV3.Models.ViewModels.ShowJobPosting
@Styles.Render("~/Content/JobPosting/jobposting.css")

@{
    ViewBag.Title = "Details";
}
<h2>JOB POSTING DETAILS</h2>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Department Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobPosting.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobPosting.JobCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobPosting.JobCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobPosting.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobPosting.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobPosting.JobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobPosting.JobDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobPosting.JobLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobPosting.JobLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobPosting.PositionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobPosting.PositionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobPosting.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobPosting.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobPosting.SalaryRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobPosting.SalaryRange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobPosting.DatePosted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobPosting.DatePosted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JobPosting.JobId }) |
    @Html.ActionLink("Back to List", "List")
</p>
