@model TiminsHospitalProjectV3.Models.ViewModels.UpdateJobPosting
@Styles.Render("~/Content/JobPosting/jobposting.css")

@{
    ViewBag.Title = "Edit Post";
}
<h2>EDIT POST</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.JobPosting.JobId, new { Name = "JobId" })

        <div class="form-group">
            @Html.LabelFor(model => model.JobPosting.JobCategory, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobPosting.JobCategory, new { htmlAttributes = new { @class = "form-control", placeholder = "e.g. Careers", Name = "JobCategory" } })
                @Html.ValidationMessageFor(model => model.JobPosting.JobCategory, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobPosting.JobTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobPosting.JobTitle, new { htmlAttributes = new { @class = "form-control", Name = "JobTitle" } })
                @Html.ValidationMessageFor(model => model.JobPosting.JobTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobPosting.JobDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.JobPosting.JobDescription, new { cols = 35, @rows = 3, Name = "JobDescription" })
                @Html.ValidationMessageFor(model => model.JobPosting.JobDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobPosting.JobLocation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobPosting.JobLocation, new { htmlAttributes = new { @class = "form-control", Name = "JobLocation" } })
                @Html.ValidationMessageFor(model => model.JobPosting.JobLocation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobPosting.PositionType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobPosting.PositionType, new { htmlAttributes = new { @class = "form-control", Name = "PositionType" } })
                @Html.ValidationMessageFor(model => model.JobPosting.PositionType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobPosting.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobPosting.Email, new { htmlAttributes = new { @class = "form-control", Name = "Email" } })
                @Html.ValidationMessageFor(model => model.JobPosting.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobPosting.SalaryRange, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobPosting.SalaryRange, new { htmlAttributes = new { @class = "form-control", Name = "SalaryRange" } })
                @Html.ValidationMessageFor(model => model.JobPosting.SalaryRange, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobPosting.DatePosted, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobPosting.DatePosted, new { htmlAttributes = new { @class = "form-control", placeholder = "e.g. (dd-mm-yyyy) 05/01/2021", Name = "DatePosted" } })
                @Html.ValidationMessageFor(model => model.JobPosting.DatePosted, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobPosting.DepartmentID, "Department Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="DepartmentID">
                    @foreach (var post in Model.AllDepartments)
                    {
                        <option value="@post.DepartmentId">@post.DepartmentName</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update post" class="button" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
