@model IEnumerable<TiminsHospitalProjectV3.Models.JobPostingDto>
@Styles.Render("~/Content/JobPosting/jobposting.css")

@{
    ViewBag.Title = "LIST OF JOB POSTINGS";
}
<h2>LIST OF JOB POSTINGS</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="jobpostings">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PositionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatePosted)
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePosted)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.JobId }) |
                @Html.ActionLink("Details", "Details", new { id = item.JobId }) |
                @Html.ActionLink("Delete", "DeleteConfirm", new { id = item.JobId })
            </td>
        </tr>
    }
    </table>
