@model IEnumerable<TiminsHospitalProjectV3.Models.Review>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>


@if (!User.IsInRole("Patient"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReviewDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewContent)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewContent)
            </td>
            <td>
                @if (!User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.ReviewID })
                    @Html.ActionLink("Edit", "Edit", new { id = item.ReviewID }) 
                }
                @Html.ActionLink("Details", "Details", new { id = item.ReviewID }) 
            </td>
        </tr>
    }

</table>
