@model TiminsHospitalProjectV3.Models.ViewModels.ListEmployees

@{
    ViewBag.Title = "List";
}

<h2>Job Applications List</h2>

@if (Model.isadmin)
{
    @Html.ActionLink("Create New", "Create")
}
<div class="paginate">
    @{
        int PrevPage = Convert.ToInt32(ViewData["PageNum"]) - 1;
        int NextPage = Convert.ToInt32(ViewData["PageNum"]) + 1;
        @Html.ActionLink("Prev", "List", new { PageNum = PrevPage })
        @ViewData["PageSummary"]
        @Html.ActionLink("Next", "List", new { PageNum = NextPage })
    }
</div>
@foreach (var employee in Model.employees)
{
<table class="table">
    <tr>
        <th>
            @Html.ActionLink(employee.EmployeeFirstname + " " + employee.EmployeeLastname,
         "Details",
         new { id = employee.EmployeeID })
           
                @if (Model.isadmin)
                {
                    @Html.ActionLink("Edit | ", "Edit", new { id = employee.EmployeeID })
                    @Html.ActionLink("Details | ", "Details", new { id = employee.EmployeeID })
                    @Html.ActionLink("Delete", "DeleteConfirm", new { id = employee.EmployeeID })
                }
          
            
        </th>
       
    </tr>

    

 
</table>
}


